<footer class="text-center text-white mt-5" style="background-color: var(--Primario)">

    <div class="container-fluid d-flex justify-content-start">

        <a id="logo" class="navbar-brand fs-4  text-black p-2" href="/">SNEAKERS</a>
    </div>
    

    <ul class="nav d-flex justify-content-center">
        <li class="nav-item">
          <a class="nav-link active text-black p-2" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black p-2" href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black p-2" href="/users/login">Perfil</a>
        </li>
      </ul>
    
      <section class="d-flex justify-content-center align-items-center iconos">
       
        <a href="https://www.instagram.com/leomessi/" target="_blank" class="fs-3 text-black p-2"><i class="fab fa-instagram"></i></a>

        <a href="https://github.com/IagoSiccardi" target="_blank" class="fs-3 text-black p-2"><i class="fab fa-github"></i></a>

        <a href="https://www.linkedin.com/in/iago-siccardi-329076235/" target="_blank" class="fs-3 text-black p-2"><i class="fab fa-linkedin"></i></a>

        
      </section>
     
   
    <div class="d-flex align-items-center justify-content-center fs-6">

        <div class="text-right text-dark p-2">
          © 2022 Copyright:
          <a class="text-dark" href="/">Sneakers Argentina</a>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
  </footer>