<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head.ejs',{
    title: "Sneakers | Crear"
  }) %>

<body>

  <%- include('../partials/header.ejs') %> 


    <main class="container d-flex justify-content-center align-items-center" >
      <form style="width: 500px;" class="" method="post" enctype="multipart/form-data">
          <div id="" class="form-text w-100 text-center mb-5 text-black fs-2">Crear producto</div>
  
          <div class="mb-3">
            <label for="name" class="form-label text-black">Nombre del producto:</label>
            <input type="text" class="form-control" id="name" name="name" value="">
          </div>
  
          <div class="mb-3">
            <label for="price" class="form-label text-black">Precio del producto:</label>
            <input type="text" class="form-control" id="price" name="price" value="">
          </div>
  
          <div class="mb-3">
            <label for="imageProduct" class="form-label text-black">Imagen del producto :</label>
            <img src="/images/default-img.png" class="col-12" alt="">
            <input type="file" class="form-control" id="imageProduct" name="imageProduct">
          </div>
  
          <div class="mb-3">
            <label for="description" class="form-label text-black w-100">Descripcion :</label>
            <textarea name="description" id="" cols="65" rows="5" class="form-control"></textarea>
          </div>
  
          <button type="submit" class="btn btn-primary w-100 text-center">Crear</button>
          
        </form>

  </main>
  <%- include('../partials/footer.ejs') %> 
 
</body>
</html>